.address-label {
  margin-top: 15px;
  padding-right: 5px;
  padding-left: 5px;
  color: whitesmoke;
}

.other-label {
  padding-right: 5px;
  padding-left: 5px;
  color: whitesmoke;
}
label {
}
button {
  border: solid;
  border-color: lightgrey;
  background-color: whitesmoke;
}
.address-input {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  border: solid;
  border-color: lightgrey;
  text-align: center;
}
.other-input {
  border: solid;
  border-color: lightgrey;
  width: 20%;
  text-align: center;
}
p {
  color: red;
}
.container-fluid {
}
.hasBackground {
  background-position:  31% 50%;
  background-image: url(/static/images/app_background_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bottomLine {
  height: 1000px;
}

#map {
  margin-top: 16px;
  height: 700px;
  width: 100%;
}

